.contact-form {
  padding-top: 215px;
  @include mq(sp) {
    padding-top: 100px;
  }
  &-inner {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .form-ttl {
      font-size: 32px;
      letter-spacing: 0.1263em;
      color: #5b5c5c;
      margin-bottom: 236px;
      text-align: center;
      @include mq(sp) {
        font-size: 20px;
        margin-bottom: 110px;
      }
    }
    form {
      font-family: "Noto Sans JP";
      text-align: center;
      .label-txt {
        display: block;
        text-align: left;
        font-size: 18px;
        margin-bottom: 40px;
        color: #212121;
        @include mq(sp) {
          margin-bottom: 20px;
        }
      }
      input,
      textarea {
        display: block;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #adadad;
        padding: 0.5em;
        font-size: 18px;
      }
      input {
        line-height: 1.5;
        margin-bottom: 103px;
        @include mq(sp) {
          margin-bottom: 90px;
        }
        &:focus {
          border-bottom: 2px solid $navy;
        }
      }
      input[type="email"] {
        margin-bottom: 82px;
      }
      textarea {
        height: 347px;
        border: 1px solid #adadad;
        padding: 0.5em;
        resize: none;
        margin-bottom: 75px;
        &:focus {
          border: 2px solid $navy;
        }
      }
      input[type="submit"] {
        display: block;
        width: 520px;
        height: 112px;
        border-radius: 100px;
        margin: 0 auto 49px;
        text-align: center;
        font-size: 32px;
        font-family: "AvenirBlack";
        letter-spacing: 0.1263em;
        background-image: linear-gradient(90deg, #364d6a, #599dc0);
        color: #fff;
        transition: all 0.2s;
        position: relative;
        top: 0;
        &:hover {
          top: -2px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        }
        @include mq(sp) {
          width: 313px;
          height: 69px;
          font-size: 16px;
          margin-bottom: 100px;
        }
      }
    }
  }
}
