.navigation {
  display: flex;
  overflow-x: auto;
  .screen-reader-text {
    display: none;
  }
  .nav-links {
    display: flex;
    margin: 0 auto;
    .page-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border: 1px solid #707070;
      color: #1d1d1d;
      transition: 0.25s;
      margin-right: 13px;
      @include mq(sp) {
        width: 40px;
        height: 40px;
      }
      &:hover {
        background: #1d1d1d;
        color: #fff;
      }
    }
    .next {
      margin-right: 0;
    }
    .current {
      background: #1d1d1d;
      color: #fff;
      pointer-events: none;
    }
  }
}
