html {
  scroll-behavior: smooth;
}
body {
  font-family: "AvenirHeavy", "Helvetica Neue", "Helvetica", "Arial",
    "Hiragino Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  display: inline-block;
}
