@font-face {
  font-family: "AvenirBlack";
  src: url("../font/Avenir\ Black.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirHeavy";
  src: url("../font/Avenir\ Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirRegular";
  src: url("../font/Avenir\ Regular.ttf") format("truetype");
}
