.header {
  padding: 47px 45px;
  width: 100%;
  background: #fafafa;
  @include mq(sp) {
    display: none;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1082px;
    width: 100%;
    margin: 0 auto;
    .nav-list {
      display: flex;
      .nav-item {
        color: #444444;
        letter-spacing: 0.1263em;
        &:not(:last-of-type) {
          margin-right: 52px;
        }
        a {
          position: relative;
          &::after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: "";
            width: 100%;
            height: 2px;
            background: #333;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.3s;
          }
          &:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}
