.price {
  padding: 108px 0 124px;
  @include mq(sp) {
    padding: 80px 0;
  }
  &-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    dl {
      color: #212138;
      letter-spacing: 0.1263em;
      dt {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      .training {
        margin-bottom: 14px;
      }
      dd {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 45px;
      }
      .training-desc {
        margin-bottom: 143px;
      }
      .table-01 {
        margin-bottom: 45px;
        @include mq(sp) {
          overflow-x: auto;
        }
        &-inner {
          width: 100%;
          @include mq(sp) {
            width: auto;
            min-width: 100%;
          }
          thead {
            th {
              padding: 0 0 15px 10px;
              @include mq(sp) {
                white-space: nowrap;
              }
            }
          }
          tbody {
            border: 1px solid $navy;
            @include mq(sp) {
              border-right-width: 0;
            }
            .navy-line {
              .navy {
                padding: 0;
                height: 9px;
                background: $navy;
                border-right: 1px solid #fff;
              }
              .navy:last-child {
                border-right-width: 0;
                @include mq(sp) {
                  border-right: 1px solid $navy;
                }
              }
            }
            tr {
              td {
                border-right: 1px solid $navy;
                border-bottom: 1px solid $navy;
                padding: 1.2em 1em;
                @include mq(sp) {
                  white-space: nowrap;
                }
              }
              td:nth-child(1) {
                background: #f2f2f2;
                width: per(578, 1220);
              }
              td:nth-child(2) {
                width: per(276, 1220);
              }
              td:last-child {
                border-right-width: 0;
                @include mq(sp) {
                  border-right-width: 1px;
                }
              }
            }
            tr:last-child {
              td {
                border-bottom-width: 0;
              }
            }
          }
        }
      }
    }
    .desc-02 {
      font-size: 14px;
      letter-spacing: 0.1263em;
      margin-bottom: 65px;
    }
    .table-02 {
      margin-bottom: 134px;
      @include mq(sp) {
        overflow-x: auto;
      }
      &-inner {
        width: 100%;
        color: $navy;
        line-height: 2;
        @include mq(sp) {
          width: auto;
          min-width: 100%;
        }
        thead {
          th {
            padding: 0 0 25px 40px;
            font-size: 20px;
            letter-spacing: 0.1263em;
            @include mq(sp) {
              white-space: nowrap;
            }
          }
        }
        tbody {
          border: 1px solid $navy;
          .navy-line {
            .navy {
              padding: 0;
              height: 6px;
              background: $navy;
              border-right: 1px solid #fff;
            }
            .navy:last-child {
              border-right: 1px solid $navy;
            }
          }
          tr {
            &:nth-of-type(odd) {
              background: #f2f2f2;
            }
            td {
              border-right: 1px solid $navy;
              border-bottom: 1px solid $navy;
              padding: 1.2em 1em;
              @include mq(sp) {
                white-space: nowrap;
              }
            }
            td:nth-child(1) {
              width: per(578, 1220);
            }
            td:nth-child(2) {
              width: per(276, 1220);
            }
          }
        }
      }
    }

    .content-03 {
      line-height: 1.4;
      dt {
        margin-bottom: 15px;
      }
      .desc-03 {
        font-size: 20px;
        letter-spacing: 0.1263em;
        line-height: 1.4;
        color: $navy;
        margin-bottom: 0;
        @include mq(sp) {
          font-size: 14px;
        }
      }
    }
  }
}
